body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

/********************** headings ***************************/

h1 {
    color: #66BFBF;
    margin: 50px 0 auto 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

/********************** Top Container **********************/

.top {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.pro {
    text-decoration: underline;
}

.top_cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom_cloud {
    position: absolute;
}

/***************************************** Middle Container *************************/

p {
    color: #40514E;
}

.my_photo {
    height: 200px;
}

.computer {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chillies-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 50px auto;
    line-height: 2;
    text-align: left;
}

.p{
    width : 40%;
    margin: 50px auto 50px auto;
}

hr {
    border-style: none none dotted;
    border-color: grey;
    border-width: 5px;
    width: 6%;
    margin: 100px auto 100px auto;
    }

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-me {
    margin: 0 auto 100px auto;
    line-height: 2;
}

/*************************************** Bottom Container *************************/

.bottom-container {
    background-color: #66BFBF;
    padding: 50px;
    line-height: 2;
}

.footer-link {
    color: #11999E;
    padding-right: 30px;
    text-decoration: none;
}

.copyrights {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

